<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员注册</title>
</head>
<body>
    <form action="" method="post">
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
        <br>
        <label for="">用户名</label><input type="text" name="user" placeholder="请输入用户名">
        <br>
        <label>密码：</label><input type="password" name="pwd1" placeholder="请输入密码">
        <br>
        <label>确认密码：</label><input type="password" name="pwd2" placeholder="请确认密码">
        <br>
        <button type="submit">注册</button>
    </form>
</body>
</html>